* {
    margin: 0;
    padding: 0;
}

.body-wrap {
    background-color: rgb(243, 243, 245);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

 div {
    border: 1px solid;
    border-color: red; */
}
.top-line {
    height: 9px;
    display: flex;
    width: 100%;
}

.top-1 {
flex-grow: 1;
background-color: rgb(249, 86, 86);
}

.top-2 {
    flex-grow: 1;   
    background-color: rgb(58, 102, 230);
}

.top-3 {
    flex-grow: 1;
    background-color: rgb(27, 201, 228);
}

.top-4 {
    flex-grow: 1;
    background-color: rgb(255, 196, 85);
}

.top-5 {
    flex-grow: 1;
    background-color: rgb(255, 117, 74);
}

.page-wrap {
    display: flex;
    flex-direction: column;
    margin-top: 3cm;
    width: 1024px;
    min-height: 250px;

}

.top-panel {
    display: flex;
    justify-content: flex-end;
}

.box-links {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px; 
    margin-right: 4px;
    width: 60px;
}

.box-links a {
    padding: 3px;
}

.bi-linkedin , .bi-github {
    color: #9a9ea7;
}

.profile-container {
    display: flex;
    min-height: 250px;
}

.profile-box-1 {
    width: 70px;
}

.profile-box-2 {
    width: 100%;
    display: flex;
    background-color: white;
}

.profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #3a66e6;
}

.bi-person {
    color: white;
}

.photo {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-container {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
}

.img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    background-color: blanchedalmond; 
}

h1 {
    font-size: 4rem;
    font-weight: 700;
    font-family: "Poppins",sans-serif;
}
p {
    font-weight: 600;
    color: #9a9ea7;
}

.page-wrap-second {
    display: flex;
    width: 1024px;
    min-height: 70px;
    margin-top: 3px;
}