* {
  margin: 0;
  padding: 0;
}
/* Body style*/

.body-wraper {
  background-color: rgb(243, 243, 245);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header style*/

.header {
  height: 9px;
  display: flex;
  width: 100%;
}

.header-line-first {
  flex-grow: 1;
  background-color: rgb(249, 86, 86);
}

.header-line-second {
  flex-grow: 1;
  background-color: rgb(58, 102, 230);
}

.header-line-third {
  flex-grow: 1;
  background-color: rgb(27, 201, 228);
}

.header-line-fourth {
  flex-grow: 1;
  background-color: rgb(255, 196, 85);
}

.header-line-fifth {
  flex-grow: 1;
  background-color: rgb(255, 117, 74);
}

/* Main part*/

.main-page-wraper {
  display: flex;
  flex-direction: column;
  margin-top: 3cm;
  width: 1024px;
  min-height: 250px;
}

.top-panel {
  display: flex;
  justify-content: flex-end;
}

.box-links {
  display: flex;
  justify-content: space-between;
  margin-right: 6px;
  width: 60px;
}

.box-links a {
  padding: 3px;
}

a:hover {
  color: #3a66e6;
}

.profile-container {
  display: flex;
}

.profile-box-1 {
  width: 65px;
}

.profile-box-2 {
  width: 100%;
  display: flex;
  background-color: white;
}

.profile-box-accordion {
  width: 100%;
  display: flex;
  background-color: white;
}

.profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #3a66e6;
}

.profile-child-1 {
  display: flex;
  float: row;
}

.profile-box-2 {
  display: flex;
  flex-direction: column;
  padding: 32px 24px 32px 32px;
}

.photo {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 45px;
}

.img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background-image: url("../images/profile.jpeg");
  background-size: cover;
}

.title-container {
  flex: 4;
  display: flex;
  justify-content: space-between;
  margin-left: 45px;
}

.title-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

title h3 {
  font-family: "Popins", sans-serif;
}

.p-title {
  font-weight: 600;
  color: #9a9ea7;
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 470;
  color: #9a9ea7;
  font-family: inherit;
}

.profile-child-2 {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.divider-container {
  height: 2px;
  background-color: black;
  width: 90%;
  margin: auto;
}

.greetings-container {
  width: 90%;
  margin: auto;
  padding-top: 25px;
}

/* Layouts style*/
.page-wraper {
  display: flex;
  width: 1024px;
  margin-top: 7px;
  min-height: 60px;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65px;
  height: 65px;
}

.bgr-blue {
  background-color: rgb(27, 201, 228);
}

.bgr-yellow {
  background-color: rgb(255, 196, 85);
}

.bgr-orange {
  background-color: rgb(255, 117, 74);
}

.bgr-red {
  background-color: rgb(249, 86, 86);
}

.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  background-color: white;
}

.social-media {
  color: #9a9ea7;
  font-size: 20px;
}

.social-media:hover {
  color: #3a66e6;
}

.menu-icons {
  color: white;
  font-size: 22px;
}

/* Style the accordion */

.accordion {
  border: 1px solid #ccc;
  width: 100%;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  cursor: pointer;
  height: 65px;
}

.arrow-wrapper {
  margin-right: 20px;
}

.accordion-container {
  display: flex;
  margin-bottom: 5px;
  border: none;
}

.accordion-content {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.card-body {
  border: none;
  border-radius: unset;
}

.card {
  border: none;
  border-radius: unset;
}

/* Filling layouts*/
.accordion-content {
  display: flex;
}
.resume-container-1 {
  width: 60%;
}

.resume-box {
margin-top: 20px;
}

.title-box {
  display: flex;
  background-color: rgb(243, 243, 245);
  padding: 10px;
  margin-bottom: 40px;
}

.content-box {
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-left: 4px solid #3a66e6;
  padding-left: 15px;
  margin-bottom: 40px;
}
